@import "../base/colors";
@import "../base/global";
@import "../base/typography";

.container {
    display: grid;
    grid-template-columns: 1fr 2fr; // Creates a grid with two columns
    grid-template-rows: auto 1fr; // Specifies the rows heights, first row auto-sized, second row takes the remaining space

    .header {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .navigation {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .game {
        grid-row: 2/3;
        grid-column: 2/3;
    }
}

.navigation{
    li{
        font-family: $dm-font-family;
        font-size: $dm-font-size;
        font-weight: $dm-font-weight;
        color: $dm-color;
        text-align: center;
        text-decoration: none;
    }
}

.navigation {
    a {
        text-decoration: none;
    }
}



.games{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    

    img{
        width: 100%;
        border-radius: 20px;
        
    }
    .text{
        background-color: $light-grey;
        border-radius: 20px;
        padding: 1em 1em;
        text-align: center;

    h2{
        font-family: $dm-font-family;
        font-size: $dm-font-size;
        font-weight: $dm-font-weight;
        color: $dm-color;
        text-align: center;
    }

    p{
        font-family: $dm-font-family;
        font-size:1em;
        font-weight: 400;
        line-height: 1.3;
        color: $dm-color;
        width:90%;
        padding: 0.5rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.3em;
    }
}

h3{
    font-family: $dm-font-family;
    font-size:1.4em;
    font-weight: 400;
    line-height: 1.3;
    color: $dm-color;
    width:90%;
    padding: 0.5rem 0;
    text-align: center;
}
p{
    font-family: $dm-font-family;
    font-size:1em;
    font-weight: 400;
    line-height: 1.3;
    color: $dm-color;
    width:90%;
    padding: 0.5rem 0;
    gap: 0.3em;
}
}