@import "../base/colors";
@import "../base/global";
@import "../base/typography";

.homeContainer {
    display: grid;
    grid-template-columns: 1fr 2fr; // Creates a grid with two columns
    grid-template-rows: auto 1fr; // Specifies the rows heights, first row auto-sized, second row takes the remaining space

    .homeHeader {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .navigation {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .games {
        grid-row: 2/3;
        grid-column: 2/3;
    }
}

.navigation{
    li{
        font-family: $dm-font-family;
        font-size: $dm-font-size;
        font-weight: $dm-font-weight;
        color: $dm-color;
        text-align: center;
        text-decoration: none;
    }
}

.navigation {
    a {
        text-decoration: none;
    }
}

.games {

    h2{
        font-family: $dm-font-family;
        font-size: $dm-font-size;
        font-weight: $dm-font-weight;
        color: $dm-color;
        text-align: center;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap : 2rem;
        padding : 2rem 0;
    }

    .cardWrapper{
        border-radius: 10%;
        background-color: $light-black;
        width : 80%;

    .card {

        img{
            height: 200px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius : 10%;
            border-top-right-radius : 10%;
        }

        .infos{
            width:100%;
            height: 5rem;
            text-align: center;
            padding: 0.5rem 0 ;

            h2{
                font-family: $dm-font-family;
                font-size: 1.2em;
                font-weight: $dm-font-weight;
                color: $turquoise;

            }
        }
    }
}
}
