@import "../base/colors";
@import "../base/global";
@import "../base/typography";

.btns{
    display: flex;
    flex-direction: row;
    gap: 1rem;

    button{
        background-color: $turquoise;
        border: none;
        border-radius: 10%;
        text-align: center;

        &:hover{
            cursor: pointer;
        }
    }
}