$dark-blue : #102040;
$blue-navy : #033E8C;
$dark-green : #025373;
$turquoise : #0396A6;
$green : #1AD980;
$white : #ffffff;
$black : #151515;
$light-black : #252525;
$light-grey : #767676;
$light-brown : #3b3b3b;